{% extends "decks/dashboard.html" %}
{% load compress %}

{% block dashboard_subnav %}
    {% include "decks/dashboard_subnav.html" with active="overview" %}
{% endblock %}

{% block dashboard_content %}

    <div class="row">
        <div class="span6" id="decks-block">
            <div class="content-block is-padded">

                {% include "decks/block_header_partial.html" with title="Add Decks" %}

                <div class="content-wrapper">
                    <table id="deck-list"{% if not decks %} style="display:none;"{% endif %} class="table table-striped">
                       <thead>
                            <tr>
                                <th style="width:60%">Deck</th>
                                <th style="width:20%">Cards</th>
                                <th style="width:20%">Due</th>
                                <th style="width:90px">Settings</th>
                            </tr>
                        </thead>
                         <tbody>
                        {% for deck in decks %}
                          {% include "decks/deckinfo_partial.html" with deck=deck %}
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if not decks %}
                    <p id="empty-message" style="text-align:center;">Your decks will be displayed here once you create them.</p>
                    {% else %}
                    <p id="empty-message" style="text-align:center;display:none;">Your decks will be displayed here once you create them.</p>
                    {% endif %}

                    <a href="#new-deck-modal" role="button" class="btn btn-primary" data-toggle="modal">New Deck</a>
                </div>
            </div>

        </div>


        <div class="span6" id="activity-block">
            <div class="content-block is-padded">
                {% include "decks/block_header_partial.html" with title="Recent Activity" %}

                <div class="content-wrapper">
                    <p>You created <strong>25</strong> new cards in <strong>8 decks</strong>.</p>
                    <p>You have <strong>35 cards due</strong> in <strong>4 decks</strong>.</p>
                    <p>User <a href="#profile">arandom_user</a> left a <a href="#comment">comment</a> on the deck <em>College Algebra</em>.</p>
                </div>
            </div>
        </div>

    </div> <!-- /.row -->

    {% include "decks/new_deck_modal.html" %}

{% endblock %}


{% block js %}
{% compress js %}
<script>
(function() {
    $('#deck-list a.viewdeck').click(function() {
        var did = $(this).data('deck-id');
        var p = $.cookie('active-deck-id', did, {path: '/'});
    });

    // activate tooltips
    var $deckList = $('#deck-list'); // hidden if no decks exist
    $deckList.tooltip({ selector: '[rel=tooltip]' });
    $emptyMessage = $('#empty-message');

    // overview controls
    $('#deck-list').on('click', '.delete-deck', function() {
        var self = $(this);
        $.ajax({
            url: self.attr('href'),
            type: 'POST',
            success: function() {
                tr = self.closest('tr');
                tr.fadeOut('slow', function() {
                    $(this).remove();
                    if ($deckList.find('tbody tr').length == 0) {
                        $deckList.hide();
                        $emptyMessage.show();
                    }
                });
            },
            error: function() {
                if (DEBUG)
                    alert("ajax error on delete deck");
            }
        });
        return false;
    });

    //$('.edit-deck').click(function() { })
})();
</script>
{% endcompress %}
{% endblock %}
