{% extends "decks/dashboard.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/prettify.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/markdown-editor.css" %}" />
{% endblock %}

{% block dashboard_subnav %}
    {% include "decks/dashboard_subnav.html" with active="edit" %}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="span12">
            <form class="form-inline is-padded" id="deck-select-form">
                <label>Deck: </label>
                <select id="deck-select">
                {% for deck in decks %}
                <option value="{{ deck.id }}"{% if deck.id == active_deck_id %} selected{% endif %}>{{ deck.name }}</option>
                {% endfor %}
                </select>
                <label class="checkbox">
                    <input id="show-preview" type="checkbox" checked="checked"> Show Preview
                </label>
            </form>
        </div>
    </div>

    {% if active_deck_id %}
    <div class="row">
        <div id="card-editor" class="span12">
            <div class="span6 wmd-container">
                <div id="card-edit-front" class="is-padded">
                    <h2 class="card-name">Front</h2>
                    <div class="wmd-panel">
                        <div id="wmd-button-bar-front"></div>
                        <textarea name="front" class="wmd-input" id="wmd-input-front" placeholder="Enter a question." tabindex="1">{{ card.front|safe }}</textarea>
                    </div>
                    <div id="wmd-preview-front" class="well wmd-panel wmd-preview"></div>
                </div>
            </div>

            <div class="span6 wmd-container">
                <div id="card-edit-back" class="is-padded">
                    <h2 class="card-name">Back</h2>
                    <div class="wmd-panel">
                        <div id="wmd-button-bar-back"></div>
                        <textarea name="back" class="wmd-input" id="wmd-input-back" placeholder="And the answer." tabindex="2">{{ card.back|safe }}</textarea>
                    </div>
                    <div id="wmd-preview-back" class="well wmd-panel wmd-preview"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <form id="new-card-form" action="{% url new_card %}" method="post" class="is-padded">
                {% csrf_token %}
                <input type="hidden" name="deck-id" id="deck-id-input" value="{{ active_deck_id }}"></input>
                <button id="add-card" type="submit" class="btn btn-primary btn-block" tabindex="3">Add</button>
            </form>
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="span12">
            <p style="text-align:center">You haven't created any decks. <a href="{% url overview %}">Click here</a> to get started.</p>
        </div>
    </div>

    {% endif %}

{% endblock %}

{% block js %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            elements: ['wmd-preview-back', 'wmd-preview-front'],
            tex2jax: {
                inlineMath: [ ['$','$'] ],
                displayMath: [ ['$$','$$'] ],
                processEscapes: true
            },
            asciimath2jax: {
                delimiters: [ ['@@', '@@'], ['\\(', '\\)'] ],
            }
        });
    </script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
    <script src="{% static "js/jquery.autoexpand.js" %}"></script>
    <script src="{% static "js/pagedown-bootstrap/Markdown.Converter.js" %}"></script>
    <script src="{% static "js/pagedown-bootstrap/Markdown.Editor.js" %}"></script>
    <script src="{% static "js/pagedown-bootstrap/Markdown.Sanitizer.js" %}"></script>
    <script src="{% static "js/pagedown-bootstrap/Markdown.Extra.js" %}"></script> 
    <script src="{% static "js/prettify.js" %}"></script>
    <script src="{% static "js/addcards.js" %}"></script>

{% endblock %}

