{% extends "decks/dashboard.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
{% endblock %}

{% block dashboard_subnav %}
    {% include "decks/dashboard_subnav.html" with active="browse" %}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="span12">
            <form class="form-inline is-padded" id="deck-select-form">
                <label>Deck: </label>
                <select id="deck-select">
                {% for deck in decks %}
                <p>{{ deck.id }}</p>
                <p>{{ active_deck_id }}</p>
                <option value="{{ deck.id }}"{% ifequal  deck.id active_deck_id %} selected{% endifequal %}>{{ deck.name }}</option>
                {% endfor %}
                </select>
            </form>
        </div>
    </div>

    {% if deck %}
    <div class="row">
        <div class="span12">
            <div class="is-padded">
                <h2 id="deck-name" class="pull-left">{{ deck.name }}</h2>
                <a id="review-deck" class="btn pull-right" href="{% url review deck_id=deck.id %}">Review</a>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="span12">
            <div class="is-padded">
                {% if deck %}
                <table id="deck-data" class="table table-striped">
                    <col span="1">
                    <col span="1" class="table-buttons-col">
                    <thead>
                        <tr>
                            <td>Front</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% if cards %}
                        {% for card in cards %}
                        <tr>
                            {# card.front|markdown|sanitize #}
                            <td class="ellipsis">{{ card.front }}</td>
                            <td><a href="url edit_card deck_id=deck.id card_id=card.id" class="btn btn-success editcard">
                                    <i class="icon-edit icon-large"></i></a>
                                <a href="{% url delete_card deck_id=deck.id card_id=card.id %}" class="btn btn-danger delete-card pull-right">
                                    <i class="icon-trash icon-large"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td colspan="3" style="text-align:center">This deck doesn't contain any cards yet. Click the button below to get started.</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                {% else  %}
                <p>You haven't created any decks yet. <a href="{% url overview %}">Click here</a> to get started.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <a id="add-card" href="{% url add_cards_to_deck deck_id=deck.id %}" class="btn btn-primary btn-block editcard">Add Card</a>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
    (function() {
//        $('#deck-data').dataTable();

        $('#deck-select').change(function() {
            // update the active id cookie
            var did = $(this).val();
            $.cookie('active-deck-id', did, {path: '/'});
        });
    })();
</script>
{% endblock %}


