{% extends "decks/dashboard.html" %}
{% load staticfiles %}

{% block dashboard_subnav %}
    {% include "decks/dashboard_subnav.html" with active="browse" %}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="span12">
            <form class="form-inline is-padded" id="deck-select-form">
                <label>Deck: </label>
                <select id="deck-select">
                {% for deck in decks %}
                <option value="{{ deck.id }}"{% if deck.id == active_deck_id %} selected{% endif %}>{{ deck.name }}</option>
                {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="is-padded">
                {% if deck %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><h2>{{ deck.name }}</h2></td>
                            <td></td>
                            <td><a class="btn btn-block" href="{% url review deck_id=deck.id %}">Review</a></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% if cards %}
                        {% for card in cards %}
                        <tr>
                            {# card.front|markdown|sanitize #}
                            <td>{{ card.front }}</td>
                            <td><a href="url edit_card deck_id=deck.id card_id=card.id" class="btn editcard">Edit (nonfunctional)</a></td>
                            <td><a href="{% url delete_card deck_id=deck.id card_id=card.id %}" class="btn delete-card">Remove</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td colspan="3" style="text-align:center">This deck doesn't contain any cards yet. Click the button below to get started.</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                {% else  %}
                <p>You haven't created any decks yet. <a href="{% url overview %}">Click here</a> to get started.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <a id="add-card" href="{% url add_cards_to_deck deck_id=deck.id %}" class="btn btn-primary btn-block editcard">Add Card</a>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    (function() {
        $('#deck-select').change(function() {
            // update the active id cookie
            var did = $(this).val();
            $.cookie('active-deck-id', did, {path: '/'});
        });
    })();
</script>
{% endblock %}


