<div class='row-fluid'>
    <div class='span6 content-block'>

        <div class="navbar navbar-header">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="">Your Decks</a>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <table id="deck_list" class="table table-striped">
                <thead>
                    <tr>
                        <td>Deck</td>
                        <td>Total Cards</td>
                        <td>Due</td>
                    </tr>
                </thead>

                {% for deck in decks %}
                  {% include 'decks/deckinfo_partial.html' with deck=deck %}
                {% endfor %}

            </table>

            <form id="add_deck" action="{% url new_deck %}" method="post" class="form-inline">
              <input id="deck_name" type="text" class="input-large">
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

    </div>

    <div class="span6 content-block">
        <h1>Hello There!</h1>
        <p>what's up?</p>
    </div>
</div>
