{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <h1>Edit Card</h1>
        <hr />

        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea class="wmd-input" id="wmd-input">
This is the *demo* editor.
------------------------------
Just plain **Markdown**, except that the input is sanitized:
<marquee>I'm the ghost from the past!</marquee>
            </textarea>
        </div>
        <div id="wmd-preview" class="well wmd-panel wmd-preview"></div>
{% endblock %}

{% block js %}
    <script src="{% static "js/pagedown-bootstrap/Markdown.Converter.js" %}"></script>
    <script src="{% static "js/pagedown-bootstrap/Markdown.Editor.js" %}"></script>
    <script src="{% static "js/pagedown-bootstrap/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript">
        (function () {
            var converter1 = Markdown.getSanitizingConverter();
            var editor1 = new Markdown.Editor(converter1);
            editor1.run();
        })();
    </script>
{% endblock %}
