{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2>Flashdown - Build & Study Cards in a Flash</h2>

<table id="deck_list" class="table">
    <thead>
        <tr>
            <td>Deck Name</td>
            <td>Total Cards</td>
            <td>Due</td>
        </tr>
    </thead>

    {% for deck in decks %}
      {% include 'decks/deckinfo_partial.html' with deck=deck %}
    {% endfor %}

</table>

<form id="add_deck" action="{% url new_deck %}" method="post" class="form-inline">
  <input id="deck_name" type="text" class="input-large">
  <button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}
