/* boostrap customizations */

// custom style for front/back of cards
.card-editor {
    .wmd-container {
        width: 450px;
        float: left;
        padding: 0 10px;
    }

    .clearfix;
    h2.card-name { text-align: center; }
}

#add-card {
    width: 100px;
    margin-left: 10px;
}


// formatting for markdown extra tables
.wmd-table td, .wmd-table th {
  padding: 5px;
  border: 1px solid black;
}


