/* boostrap customizations */

@blockHeaderBackground: #386EA5;
@blockHeaderHighlight: lighten(@blockHeaderBackground, 20%);
@blockHeaderColor: #c7c7c7;

body {
  line-height: 1.5em;
  background-color: #343434;
}

#content-wrap {
  background-color: #DDD;
  table {
    border: @tableBorder;
    .border-radius(5px);
  }
}

.content-block {
  overflow: hidden;
  background-color: #F9F9F9;
  .border-radius(5px);

  .content-wrapper {
    padding: 0 1em;
  }
}

.navbar-header {
  margin: 0;
  .navbar-inner {
    .border-bottom-radius(0);
    border-left: none;
    border-right: none;
    #gradient > .vertical(@blockHeaderHighlight, @blockHeaderBackground);

    .brand {
      color: #F9F9F9;
      text-shadow: 0 1px 0 #777;
    }
  }
}

// Custom style for front/back of cards.
.card-editor {
    h2.card-name { text-align: center; }
}

/* Dashboard-related stuff */
#dashboard-subnav {
    text-align: center;
    div.btn-group {
      /* Rows were showing at 584 px. wtf? */
        margin: 0 auto 20px; 
        text-align: center;
        width: inherit;
        display: inline-block;
    }
}

