{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Flashdown - Flash Cards in Markdown{% endblock %}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 

    <style>
        body { padding-top: 60px; } // for fixed navbar spacing
    </style>


    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    {% block css %} {% endblock %}

    <script src="{% static "js/modernizr.js" %}"></script>
  </head>

  <body>

   <div id="contentwrapper">
        {% block navbar %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">

              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">Flashdown</a>
              <div class="nav-collapse">
                <ul class="nav">

                  <li><a href={% url overview %}>Decks</a></li>
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
                <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
              </div><!--/.nav-collapse -->

            </div>
          </div>
        </div>

        {% endblock %}

 
       <div id="leftcolumn">
            <!-- ** left panel ** -->
            <div id="leftpanel">
                <div class="leftpanel-wrapper">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="user-container">
                            <a href="#">
                                <img src="{% static "img/user.png" %}">
                                User
                            </a>
                        </li>
                        <li class="active">
                            <a href="#profile">
                                <i class="icon-large icon-home"></i>
                                Dashboard
                            </a>
                        </li>
                         <li>
                            <a href="#study">
                                <i class="icon-large icon-play"></i>
                                Study
                            </a>
                        </li>
                        <li>
                            <a href="#newdecks">
                                <i class="icon-large icon-th-large"></i>
                                Find decks
                            </a>
                        </li>
                        <li>
                            <a href="#achievements">
                                <i class="icon-large icon-trophy"></i>
                                Achievements
                            </a>
                        </li>
                         <li>
                            <a href="#charts">
                                <i class="icon-large icon-bar-chart"></i>
                                Charts &amp; Stats
                            </a>
                        </li>
                       <li>
                            <a href="#settings">
                                <i class="icon-large icon-cogs"></i>
                                Settings
                            </a>
                        </li>
                   </ul>
                </div>
            </div> <!-- ** ./ left panel -->
        </div> <!-- ** ./ left column -->

        <div id="contentcolumn">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="clearfix"></div>

    </div> <!-- ./ container -->

    <!-- JS - placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/slide.js" %}"></script>
    <script src="{% static "js/ajax.js" %}"></script>
    <script src="{% static "js/jquery-placeholder.js" %}"></script> <!-- emulate html5 placeholder attribute -->
    {% block js %} {% endblock %}

  </body>
</html>
