{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block wrapped_content %}

    <div class="container">

        <div id="dashboard-content-container">
            <div class="row">
            <div class="span12">
            <div class="is-padded">
            {% if user.is_authenticated %}
<!-- start slipsum code -->

<h2>Is she dead, yes or no?</h2>
<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

<h2>Is she dead, yes or no?</h2>
<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>

<!-- please do not remove this line -->

<div style="display:none;">
<a href="http://slipsum.com">lorem ipsum</a></div>

<!-- end slipsum code -->
            {% else %}
            <p>Welcome. Login to view your decks!</p>
            {% endif %}
            </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}
    {% include "login_modals.html" %}
{% endblock %}


