{% load crispy_forms_tags %}

    {% if not form_only %}
    <div id="login-modal" class="modal hide fade">
    {% endif %}
        <form action="{% url login %}" class="form-horizontal" id="login-form" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Sign In</h3>
            </div>

            <div class="modal-body">
                {% if extra_errors %}
                <div class="alert alert-error">
                    <ul>
                        {% for error in extra_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% crispy login_form %}
                <p class="center">If you don't know your password, click <a href="{% url password_reset_recover %}">here</a> to reset it.</p>
            </div>

            <div class="modal-footer">
                <p class="pull-left">Don't have an account yet? <a data-toggle="modal" data-dismiss="modal" href="#register-modal">Sign up</a>.</p>
                <button type="submit" name="finish" value="ok" class="btn primary">Login</button>
            </div>
        </form>
    {% if not form_only %}
    </div>
    {% endif %}

